body{
  text-align: center;
  background-color: rgb(29, 29, 141);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  width: 40%;
  margin-left: 30%;
  background-color: wheat;
border-radius: 20px;
}
.container img {
  width: 70%;
  height: 200px;
  border-radius: 20px;
}
.container button {
  background-color: darkgreen;
  width: 110px;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 17px;
  color: white;
  border: none;
  margin-top: 2rem;
}
.h1{
  color: white;
}
@media (max-width: 767px){
  .container{
    width: 100%;
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 1217px){
  .container{
    width: 60%;
    margin-left: 20%;
  }
}